In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
%matplotlib inline
from io import StringIO
import re

In [2]:
for_pd = StringIO()
with open('../data/accre-jobs-2020.csv') as accre:
    for line in accre:
        new_line = re.sub(r',', '|', line.rstrip(), count=12)
        print (new_line, file=for_pd)

for_pd.seek(0)

accre_subset = pd.read_csv(for_pd, sep='|')[:5000]
print (accre_subset)

         JOBID  ACCOUNT      USER    REQMEM    USEDMEM      REQTIME  \
0     15925210  treviso  arabella  122880Mn  65973.49M  13-18:00:00
1     15861126  treviso  arabella  122880Mn  67181.12M  13-18:00:00
2     15861125  treviso  arabella  122880Mn  69111.86M  13-18:00:00
3     16251645  treviso  arabella  122880Mn  65317.33M  13-18:00:00
4     16251646  treviso  arabella  122880Mn  65876.11M  13-18:00:00
...        ...      ...       ...       ...        ...          ...
4995  17073118   endive   bennett    8192Mn          0   5-00:00:00
4996  17073119   endive   bennett    8192Mn          0   5-00:00:00
4997  17073120   endive   bennett    8192Mn          0   5-00:00:00
4998  17073121   endive   bennett    8192Mn   2811.19M   5-00:00:00
4999  17073122   endive   bennett    8192Mn   2796.69M   5-00:00:00

         USEDTIME  NODES  CPUS   PARTITION EXITCODE      STATE NODELIST
0     13-18:00:28      1    24  production      0:0  COMPLETED   cn1531
1     12-14:50:56      1    24  production      0:0  COMPLETED   cn1441
2     13-18:00:20      1    24  production      0:0  COMPLETED   cn1464
3     12-03:50:32      1    24  production      0:0  COMPLETED   cn1473
4     13-18:00:03      1    24  production      0:0  COMPLETED   cn1440
...           ...    ...   ...         ...      ...        ...      ...
4995     00:00:27      1     1      turing      0:0  COMPLETED  gpu0039
4996     00:00:31      1     1      turing      0:0  COMPLETED  gpu0045
4997     00:00:23      1     1      turing      0:0  COMPLETED  gpu0039
4998     00:00:40      1     1      turing      0:0  COMPLETED  gpu0037
4999     00:00:40      1     1      turing      0:0  COMPLETED  gpu0045

[5000 rows x 13 columns]

In [8]:
#accre_subset = pd.read_csv('../data/accre-jobs-2020.csv', nrows=5000)
accre_subset.head(20)

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440
5,16297022,treviso,arabella,122880Mn,65183.02M,13-18:00:00,12-02:31:43,1,24,production,0:0,COMPLETED,cn1443
6,16297024,treviso,arabella,122880Mn,64941.85M,13-18:00:00,13-06:54:59,1,24,production,0:0,COMPLETED,cn1531
7,16316283,treviso,arabella,122880Mn,68499.51M,13-18:00:00,13-18:00:05,1,24,production,0:0,COMPLETED,cn1535
8,16316284,treviso,arabella,122880Mn,67761.41M,13-18:00:00,13-18:00:15,1,24,production,0:0,COMPLETED,cn1464
9,16316324,treviso,arabella,122880Mn,68087.66M,13-18:00:00,13-18:00:06,1,24,production,0:0,COMPLETED,cn1473
10,16316325,treviso,arabella,122880Mn,68113.75M,13-18:00:00,13-18:00:14,1,24,production,0:0,COMPLETED,cn1536
11,16324564,treviso,arabella,122880Mn,67732.33M,13-18:00:00,12-17:02:59,1,24,production,0:0,COMPLETED,cn1445
12,16324565,treviso,arabella,122880Mn,67294.18M,13-18:00:00,13-02:34:13,1,24,production,0:0,COMPLETED,cn1470
13,16338512,treviso,arabella,122880Mn,67815.17M,13-18:00:00,17-14:55:43,1,24,production,0:0,COMPLETED,cn1439
14,16338513,treviso,arabella,122880Mn,67156.55M,13-18:00:00,13-18:00:24,1,24,production,0:0,COMPLETED,cn1435
15,16355590,treviso,arabella,122880Mn,69549.25M,13-18:00:00,13-18:00:00,1,24,production,0:0,COMPLETED,cn1535
16,16355591,treviso,arabella,122880Mn,69557.56M,13-18:00:00,13-18:00:26,1,24,production,0:0,COMPLETED,cn1533
17,16355592,treviso,arabella,122880Mn,69400.51M,13-18:00:00,13-18:00:22,1,24,production,0:0,COMPLETED,cn1446
18,16355593,treviso,arabella,122880Mn,65773.31M,13-18:00:00,13-18:00:04,1,24,production,0:0,COMPLETED,cn1447
19,16368748,treviso,arabella,122880Mn,66081.39M,13-18:00:00,13-18:00:14,1,24,production,0:0,COMPLETED,cn1470

In [4]:
accre_subset.tail()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
4995,17073118,endive,bennett,8192Mn,0,5-00:00:00,00:00:27,1,1,turing,0:0,COMPLETED,gpu0039
4996,17073119,endive,bennett,8192Mn,0,5-00:00:00,00:00:31,1,1,turing,0:0,COMPLETED,gpu0045
4997,17073120,endive,bennett,8192Mn,0,5-00:00:00,00:00:23,1,1,turing,0:0,COMPLETED,gpu0039
4998,17073121,endive,bennett,8192Mn,2811.19M,5-00:00:00,00:00:40,1,1,turing,0:0,COMPLETED,gpu0037
4999,17073122,endive,bennett,8192Mn,2796.69M,5-00:00:00,00:00:40,1,1,turing,0:0,COMPLETED,gpu0045

In [5]:
accre_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   JOBID      5000 non-null   object
 1   ACCOUNT    5000 non-null   object
 2   USER       5000 non-null   object
 3   REQMEM     5000 non-null   object
 4   USEDMEM    5000 non-null   object
 5   REQTIME    5000 non-null   object
 6   USEDTIME   5000 non-null   object
 7   NODES      5000 non-null   int64
 8   CPUS       5000 non-null   int64
 9   PARTITION  5000 non-null   object
 10  EXITCODE   5000 non-null   object
 11  STATE      5000 non-null   object
 12  NODELIST   5000 non-null   object
dtypes: int64(2), object(11)
memory usage: 507.9+ KB

In [6]:
accre_subset.describe()

             NODES         CPUS
count  5000.000000  5000.000000
mean      1.035000     2.487400
std       0.257271     4.078231
min       1.000000     1.000000
25%       1.000000     1.000000
50%       1.000000     1.000000
75%       1.000000     1.000000
max       4.000000    24.000000

In [7]:
accre_subset['STATE'].describe()

count          5000
unique            2
top       COMPLETED
freq           4997
Name: STATE, dtype: object